/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(203, 231, 240, 0.8);
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 20px rgba(0,0,0,0.4);
  transition: var(--transition);
  border-bottom: 1px solid rgb(6, 181, 212);
}

.navbar.scrolled {
  padding: 12px 60px;
  background: rgba(241, 162, 237, 0.97);
  backdrop-filter: blur(12px);
}

.navbar-logo {
  font-family: var(--font-cursive);
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar-logo span {
  color: var(--teal-bright);
}

.navbar-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  position: relative;
  transition: var(--transition);
  padding-bottom: 4px;
  cursor: pointer;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.navbar-links a:hover::after,
.navbar-links a.active::after {
  width: 100%;
}

.navbar-links a:hover { color: hotpink; font-weight: 500; }
.navbar-links a.active { color: hotpink; font-weight: 600; }

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: rgb(255, 0, 191);
  border-radius: 2px;
  transition: var(--transition);
}

@media (max-width: 768px) {
  .navbar { padding: 16px 24px; }
  .hamburger 
  { 
    display: flex; 
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    flex-direction: column;
    border-radius: 5%;
    align-items: center;
    padding: 15px 0;
    gap: 15px;
    border-top: 1px solid rgba(6,182,212,0.15);
  }
  .navbar-links.open 
            { 
              display: flex;
              background-color: rgb(203, 243, 203);
            
            
            }
}